* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    max-width: 1200px;
    min-width: 300px;
}
.containerFormulario{
    width: 100%;
    padding: 5px;
    margin: auto;
}
/* formulario de cadastrar tarefas */
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: purple;
    border-radius: 30px;
    padding: 10px;
    max-width: 300px;
    margin: auto;
}
/* tabelas */
table{
    margin-top: 20px;
    max-width: 100%;
}
table, td, th, tr {
    border: 3px solid #000000;
    color: white;
    text-align: center;
}
td, th{
    padding: 5px;
}
tr {
    background-color: green;
  
}

tr:hover {
    background-color: blue;
}

button {
    display: inline-block;
    padding: 10px;
    background-color: rgb(35, 67, 67);
    border-radius: 10%;
    color: white;
    border: none;
    margin: 5px;
    white-space: nowrap;
    max-width: 100%;
}
button a {
    text-decoration: none;
    color: white;
}
label {
    color: white;
}
input {
    margin-top: 5px;
    text-align: center;
}
/* Função modal */
.modal {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}
.containerModal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(45, 48, 185);
    padding: 20px;
    border-radius: 30px;
    max-width: 400px;
    margin: auto;
}
.modalEditar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Classes usadas no javascript dinamicamente */
.tarefas {
    display: block;
    margin-top: 20px;
}

.concluido {
    text-decoration: line-through;
}

.checar {
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
}